.btn-lang{
    color: #0d47a1; /*blue darken-4*/
    background-color: #e3f2fd; /*blue lighten-5*/
    border-color: #e3f2fd;
}

.btn-lang:hover{
    background-color: #bbdefb; /*blue lighten-4*/
    border-color: #bbdefb;
}

.space{
    height: 10px;
}

.avok-icon{
    float: right;
    line-height: 35px;
    padding-right: 15px;
}

.avok-icon--color{
    color: #bbdefb;
}

.avok-icon--color:hover{
    color: #d4a74a;
}

.logo{
    width: 300px;
    height: 100px;
    /*padding-top: 70px;*/
    padding-bottom: 15px;
    /*transform: translateY(-20%);*/
    margin-top: -16px;
}

.avok-navbar{
    background-color: #e3f2fd;
}

.carousel-inner,
.carousel-item{
    height: 400px;
}

@media only screen and (max-width: 576px){
    .carousel-inner,
    .carousel-item{
        height: 200px;
    }

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}

@media only screen and (max-width: 768px){
    .carousel-inner,
    .carousel-item{
        height: 200px;
    }

    .container{
        padding-left: 0px;
        padding-right: 0px;
    }
}

.avok-header{
    border-bottom: 1px solid #e3f2fd;
    padding-top: 10px;
}

.avok-img{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    max-width: 150px;
    max-height: 150px;
}

.avok-img:hover{
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.carousel-text{
    text-shadow: 1px 1px grey;
}

.avok-card--img{
    max-height: 200px;
}

.avok-footer{
    color: #bbdefb; /*blue lighten-4*/
    background-color: #1c2331; /*unique dark*/
    height: 100px;
    margin-top: 20px;
}

.avok-container{
    position: relative;
    height: 100px;
}

.avok-align--middle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

ul.sub-menu > li {
    padding-left: 20px;
}

.avok-card--text{
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    color: #1c2331; /*unique dark*/
}

.no-overflow{
    overflow-x: hidden;
}

.card-img-overlay{
    max-height: 300px;
}

.avok-social{
    color: #e3f2fd;
    padding-left: 4px;
    padding-top: 4px;
}

.avok-social:hover{
    color: #bbdefb;
}

.avok-nav-text {
    overflow: hidden;
    white-space: pre-wrap;
    text-align: center;
    font-weight: bold;
}

.avok-sections {
    padding: 10px;
}

@media only screen and (max-width: 576px){
    .avok-news {
        margin-bottom: 250px;
    }
}

@media only screen and (max-width: 768px){
    .avok-news {
        margin-bottom: 250px;
    }
}

.avok-search--button{
    color: #d4a74a;
    background-color: transparent;
    background-image: none;
    border-color: #d4a74a;
}

.avok-search--button:hover{
    color: #e3f2fd;
    border-color: #d4a74a;
    background-color: #d4a74a;
}

.avok-card{
    border: 1px solid #e3f2fd;
}

.avok-card--footer{
    background-color: transparent;
    border-top: 1px solid #e3f2fd;
}
